* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(229, 26, 26);
    padding: 10px 12px;
    border-bottom: 3px solid yellow;
}
.navlinks {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.logo {
    border: none;
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    background-color: rgb(229, 26, 26);
    font-family: 'Times New Roman', Times, serif;
}
.navlinks li  {
    color: white;
    font-size: 0.8rem;
    display: flex;
    text-align: center;
    align-items: center;
    border-right: 1px solid #fff;
    padding-right: 2rem;
}
.navlinks a {
    color: #fff;
}
.off li a {
    color: #fff;
    align-items: center;
    text-align: center;
}
.off li .bx {
    color: #fff;
    font-size: 1.2rem;
    align-items: center;
    text-align: center;
}
.navlinks .bx {
    font-size: 1.7rem;
    color: #fff;
    align-items: center;
    text-align: center;
}
.letter {
    background-color: rgb(229, 26, 26);
    position: absolute;
    width: 100%;
}
.letter-content {
    background-color: #fff;
    margin: 2rem 1rem;
    padding: 10px 30px;
}
.letter-content p {
    font-weight: bold;
    line-height: 2rem;
}
.letter-content p a {
    text-decoration: underline;
}
.close-letter {
    padding: 8px 20%;
    border: none;
    background-color: rgb(166, 5, 5);
    border-radius: 10px;
    margin-top: 3rem;
    margin-left: 4rem;
}
.close-letter a {
    color: #fff;
    font-weight: 600;
}
@media  (max-width: 375px) {
    header {
        display: flex;
        justify-content: space-between;
    }
    header .nav-links {
        display: none;
    }
    header .logo {
        font-size: 1.2rem;
    }
    .dashboard_header {
        display: none;
    }
}


@media  (max-width: 420px) {
    header {
        display: flex;
        justify-content: space-between;
    }
    header .nav-links {
        display: none;
    }
    header .logo {
        font-size: 1.2rem;
    }
    .dashboard_header {
        display: none;
    }
}